@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.main{
    font-family: 'Josefin Sans', sans-serif !important;
}

.mt-7{
    margin-top: 8%;
}
.p-7{
    padding-top: 7%;
}
/* .mt-4{
    padding-top: 4%;
} */
.m-6{
    margin-top: 6.5%;

}
.mrr-3{
    margin-right: 2%;
}
.mrl-3{
    margin-left: 2%;
}

.ml-2{
    margin-left: 3% !important;
}
.option-size{
    font-size: 10%;
}
.spidomeeter{
    width: 130%
}
.card-height-m{
    height: inherit;
}